.userRecordTopSpace{
  width: 100%;
  height: 90px;
  background-color: #111;
}
.userRecordTopSection{
  position: relative;
  width: 100%;
  height: 270px;
  
  background-color: rgb(20,20,20);
}

.userRecordTopSection::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 2PX;
  background-color: #303030;
  bottom: 30px;
  left: 0px;
}
.userRepresentCharacterWrap{
  width: 140px;
  height: 140px;
  margin-right: 45px;
}
.userRepresentCharacterWrap img{
  width: 100%;
  height: 100%;  
  border: 4px solid #C2934C;
  border-radius: 15px;
}
.userRecordTopSection .contents_inner{
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.userRecordUserNameWrap{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.userRecordUserName{
  font-weight: bold;
  color : #DDD;
}
.userRecordUserMaxRp{
  margin-top: 8px;
  font-weight: 300;
  color : #DDD;
}
.userRecordGrade{
  color : #DDD;
  margin-bottom: 8px;
}
.userRecordClanName{
  color : #E1BB57;
}
.userRecordDivideWrap img{
  width: 160px;
  height: 20px;
  transform: rotate(90deg);
}
.userRecordTierWrap{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.userRecordTierImage{
  width: 115px;
  height: 115px;
}

.userRecordTierText{
  font-weight: bold;
  color: #DDD;
}

.userRecordRatingGameRecordWrap{
  margin: 0px 60px;
}
.userRecordRatingGameRecordWrap, .userRecordNormalGameRecordWrap{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.userRecordRatingGameRecordWrap h5, .userRecordNormalGameRecordWrap h5{
  color : #DDD;
  font-weight: bold;
}
.winLoseText{
  display: block;
  margin: 10px 0px 20px 0px;
  color: #DDD;
}
.winingPercentText{
  color: #DDD;
  display: block;
  width: 100%;
  text-align: center;
}

.userRecordMainSection{
  display: flex;
  justify-content: center;
  align-items: flex-start;

  background-color: #31313C;
}
.userRecordMainMostCyperWrap{
  width: 440px;
  height: 800px;
  padding: 40px;
}
.userRecordMainMostCyperWrap h5{
  color: #DDD;
  font-weight: bold;
}

.userRecordMainRecordWrap{
  width: 1160px;
  padding: 40px;
}
.userRecordMainRecordWrap h5{
  color: #DDD;
  font-weight: bold;
  margin-bottom: 30px;
}




/* userRecordComponent */