
.HeaderNexon{
  width: 100%;
  height: 65px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  z-index: 50;
}

.HeaderNexon_Left{
  width: 33%;
  margin-right: auto;
}

.HeaderNexon_Left_Button{
  height: 30px;
  margin-left: 20px;
}

.HeaderNexon_Left_Button img{
  height: 100%;
  margin-right: 5px;
}

.HeaderNexon_Middle{
  width: 33%;
  margin: auto;
  text-align: center;
}

.HeaderNexon_Right{
  width: 33%;
  margin-left: auto;
  height: 100%;
  padding-right: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.NexonCard_Button, .NexonPCRoom_Button{
  width: 25px;
  height: 25px;
  /* overflow: hidden; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  position: relative;

}
.HeaderSpriteIcon{
  width: 22px;
  height: 22px;
  position: absolute;
  background-color : #191919;
  background-image: url("../../public/img/icon/set_gnb_icon.png") ;
}
.HeaderSpriteIcon:hover{
  background-color : var(--point-color3) ;
}
.HeaderSpriteIcon.nexonCard{
  background-position: 0px 0px;
}
.HeaderSpriteIcon.nexonCard::before{

  content: "N";
  position: absolute;
  width: 13px;
  font-size: 7px;
  height: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;  
  background-color: var(--point-color3);
  border-radius: 50%;
  overflow: hidden;
  right: -3px;
  top: -5px;
  z-index: 5;
}
.HeaderSpriteIcon.nexonPCRoom{
  background-position: 0px -51px;
}
.HeaderSpriteIcon.nexonPCRoom::before{
  content: "OFF";
  position: absolute;
  width: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 7px;
  height: 12px;
  color: white;  
  background-color: rgb(160, 160, 160);
  border-radius: 7px;
  overflow: hidden;
  right: -6px;
  top: -5px;
  z-index: 5;
}

.createAccount a{
  color : var(--light-text-color1);
  font-weight: 600;
  margin-right: 8px;
}
  .createAccount a:hover{
    color : var(--point-color3);
  }


.LoginButton{
  width: 120px;
  height: 37px;
  border: 2px solid #333 ;
  border-radius: 2rem;

  transition: 0.4s;
}
.LoginButton{
  font-weight: bold;
  transition: 0.5s;

}
 .LoginButton:hover{
    background-color: var(--point-color3);
    border: none;
  }
 .LoginButton:hover{
    color: white;
 }


 .HeaderMainWrap{
  position: relative;
  height: 0px;
 }

 .HeaderMain{
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 10;
  background-color: rgba(0,0,0,0.7);
  z-index: 50;

 }
 .HeaderMain.scrolled{
  position: fixed;
  background-color: #000;
 }
  .HeaderMain.hover{
    background-color:  rgb(17,17,17);
  }


/* Header Main */
.HeaderMainTop{
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: transparent;

  position: relative;
}
.LogoWrap{
  margin-left: 100px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  left: 0;
  top: 0;
}
.LogoWrap a{ 
  display: block;
  height: 50px;
}
.LogoWrap a .LogoImage{ 
  height: 100%;
}


.GnbWrap{
  width: 912px;
  height: 100%;
}
.GnbUl{
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.GnbLi, .GnbLi a, .GnbLi a p{
  display: block;
  width: 100%;
  height: 100%;
}
.GnbLi a p{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: var(--light-text-color2);
}
.GnbLi{
  position: relative;
}
  .GnbLi::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 0px;
    bottom: -3px;
    left: 0;
    background-color: var(--point-color2);
  }
  .GnbLi:hover::before{
    height: 3px;
  }
  .GnbLi:hover a p{
    color: white;
  }

.GameStartWrap{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  position: absolute;
  right: 0;
  top: 0;
}
.HeaderMainLogInButton{
  height: 100%;
  padding : 0px 37px;

  display: flex;
  justify-content: center;
  align-items: center;

  gap: 10px;
}
.HeaderMainLogInButton img{
  width: 21px;
  height: 21px;
}
.HeaderMainLogInButton span{
  font-weight: bold;
  color: #BBB;
  transition: 0.2s;
}
.HeaderMainLoginIcon{
  width: 21px;
  height: 21px;
  background-repeat: no-repeat;
  background-size: contain ;
  background-image: url("../../public/img/icon/login_button_icon_BBB.png");
  transition: 0.2s;
}
.HeaderMainLogInButton:hover .HeaderMainLoginIcon{
  background-image: url("../../public/img/icon/login_button_icon_white.png");
}
.HeaderMainLogInButton:hover span{
  color : white;
}

.HeaderGameStartButton{
  width: 270px;
  height: 100%;

  position: relative;
  overflow: hidden;
}

.HeaderGameStartButton img{
  position: absolute;
  width: 450px;
  height: 90px;
  transform: scaleX(-1);
  right: -450px;

  transition: 0.7s;
}
.HeaderGameStartButton h4{
  z-index: 5;
  transition: 0.2s;
}
.HeaderGameStartButton:hover h4{
  color : white;
}
.HeaderGameStartButton:hover img{
  right: 0;
}


.HeaderMainBottom{
  width: 100%;
  height: 0px;
  overflow: hidden;
  background-color: rgb(17, 17, 17);
  transition: 0.2s;
}
  .HeaderMainBottom.hover{
    height: 420px;
  }

.SnbWrap{
  width: 912px;
  margin: auto;
  /* padding-top: 40px; */
}
.SnbUl{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.SnbLi{
  width: 100%;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  position: relative;
}
  .SnbLi::after{
    position: absolute;
    content: "";
    height: 0px;
    width: 100%;
    top: 0px;
    left: 0px;
    background-color: var(--point-color2);
  }
  .SnbLi:hover::after{
    height: 3px;
  }
.SnbText{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--span-size);
  padding: 10px 0px;
  color : #666;
  transition: 0.1s;
}
  .SnbLi:hover .SnbText{
    color : white;
  }
  .SnbLi:hover .SnbText:hover{
    color: var(--point-color2);
  }